@inject SiteManager manager;
@{
    await manager.GetSiteInfoAsync();
}

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-between ">

        <div class="logo">
            @* <h1><a href="index.html">Alstar</a></h1> *@
            <!-- Uncomment below if you prefer to use an image logo -->
            <a href="index.html"><img src=@manager.GetInfo.SDALogo alt="" class="img-fluid"></a>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                <li><a class="nav-link scrollto" href="#about">About</a></li>
                <li><a class="nav-link scrollto" href="#services">Services</a></li>
                <li><a class="nav-link scrollto" href="#news">Announcements / News</a></li>
                @*<li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>*@
                <li><a class="nav-link scrollto" href="#team">Team</a></li>                
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li class="dropdown">
                    <a><span id="cur-lang">@manager.GetInfo.Language</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        @{
                            foreach (var lang in Enum.GetNames(typeof(Language)))
                            {
                                <li><a id=@manager.GetUtils.GetLanguageId(Enum.Parse<Language>(lang)) href="">@lang</a></li>
                            }

                        }
                    </ul>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
@await Html.PartialAsync("~/Views/Partial/_Hero.cshtml")

<main id="main">

    <!-- ======= About Section ======= -->
    @await Html.PartialAsync("~/Views/Partial/_AboutUs.cshtml")
    <!-- ======= Cards Section ======= -->
    <!-- await Html.PartialAsync("~/Views/Partial/_Cards.cshtml") -->
    <!-- ======= Youtube Feed  ======= -->
    <!-- await Html.PartialAsync("~/Views/Partial/_YoutubeFeed.cshtml") -->
    <!-- ======= Services Section ======= -->
    @await Html.PartialAsync("~/Views/Partial/_Services.cshtml")
    <!-- ======= News Section ======= -->
    @await Html.PartialAsync("~/Views/Partial/_News.cshtml")
    <!-- ======= Team Section ======= -->
    @await Html.PartialAsync("~/Views/Partial/_Teams.cshtml")
    <!-- ======= Contact Section ======= -->
    @await Html.PartialAsync("~/Views/Partial/_Contact.cshtml")
    
    @*
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
    <div class="container">

    <div class="section-title">
    <h2>Portfolio</h2>
    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row">
    <div class="col-lg-12 d-flex justify-content-center">
    <ul id="portfolio-flters">
    <li data-filter="*" class="filter-active">All</li>
    <li data-filter=".filter-app">App</li>
    <li data-filter=".filter-card">Card</li>
    <li data-filter=".filter-web">Web</li>
    </ul>
    </div>
    </div>

    <div class="row portfolio-container">

    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
    <img src="img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
    <div class="portfolio-info">
    <h4>App 1</h4>
    <p>App</p>
    <a href="img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
    <img src="img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
    <div class="portfolio-info">
    <h4>Web 3</h4>
    <p>Web</p>
    <a href="img/portfolio/portfolio-2.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
    <img src="img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
    <div class="portfolio-info">
    <h4>App 2</h4>
    <p>App</p>
    <a href="img/portfolio/portfolio-3.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
    <img src="img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
    <div class="portfolio-info">
    <h4>Card 2</h4>
    <p>Card</p>
    <a href="img/portfolio/portfolio-4.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
    <img src="img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
    <div class="portfolio-info">
    <h4>Web 2</h4>
    <p>Web</p>
    <a href="img/portfolio/portfolio-5.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-app">
    <img src="img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
    <div class="portfolio-info">
    <h4>App 3</h4>
    <p>App</p>
    <a href="img/portfolio/portfolio-6.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
    <img src="img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
    <div class="portfolio-info">
    <h4>Card 1</h4>
    <p>Card</p>
    <a href="img/portfolio/portfolio-7.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-card">
    <img src="img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
    <div class="portfolio-info">
    <h4>Card 3</h4>
    <p>Card</p>
    <a href="img/portfolio/portfolio-8.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 portfolio-item filter-web">
    <img src="img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
    <div class="portfolio-info">
    <h4>Web 3</h4>
    <p>Web</p>
    <a href="img/portfolio/portfolio-9.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
    <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
    </div>
    </div>

    </div>

    </div>
    </section>
    <!-- End Portfolio Section -->
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
    <div class="container">

    <div class="section-title">
    <h2>Pricing</h2>
    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
    </div>

    <div class="row">

    <div class="col-lg-4 col-md-6">
    <div class="box">
    <h3>Free</h3>
    <h4><sup>$</sup>0<span> / month</span></h4>
    <ul>
    <li>Aida dere</li>
    <li>Nec feugiat nisl</li>
    <li>Nulla at volutpat dola</li>
    <li class="na">Pharetra massa</li>
    <li class="na">Massa ultricies mi</li>
    </ul>
    <div class="btn-wrap">
    <a href="#" class="btn-buy">Buy Now</a>
    </div>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
    <div class="box featured">
    <h3>Business</h3>
    <h4><sup>$</sup>19<span> / month</span></h4>
    <ul>
    <li>Aida dere</li>
    <li>Nec feugiat nisl</li>
    <li>Nulla at volutpat dola</li>
    <li>Pharetra massa</li>
    <li class="na">Massa ultricies mi</li>
    </ul>
    <div class="btn-wrap">
    <a href="#" class="btn-buy">Buy Now</a>
    </div>
    </div>
    </div>

    <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
    <div class="box">
    <h3>Developer</h3>
    <h4><sup>$</sup>29<span> / month</span></h4>
    <ul>
    <li>Aida dere</li>
    <li>Nec feugiat nisl</li>
    <li>Nulla at volutpat dola</li>
    <li>Pharetra massa</li>
    <li>Massa ultricies mi</li>
    </ul>
    <div class="btn-wrap">
    <a href="#" class="btn-buy">Buy Now</a>
    </div>
    </div>
    </div>

    </div>

    </div>
    </section>
    <!-- End Pricing Section -->
    *@
</main><!-- End #main -->

<script>
    function OpenService(serviceid) {
        window.open(serviceid, "_blank");
    }
</script>