<section id="news" class="cta">
    <div class="container">
        <div class="text-center">
            <h3>Announcements / News!</h3>
            <br>
            <section id="hero">
                <div class="hero-container">
                    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

                        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
                        <center>
                            <ul class="no-bullets">
                                @{
                                    foreach (var info in @SiteInfo.News)
                                    {
                                        <li>
                                            <div class="announcementBlock">
                                                <img src=@SiteInfo.PlaceHolderImage alt="...">
                                                <div class="announcementDetails">
                                                    <div class="announcementHeader"><a href="#">@info.Headline</a></div>
                                                    <br />
                                                    <div class="announcementDate">
                                                        @info.DateTime.ToString("MMM/dd/yyyy")
                                                    </div>
                                                    <div class="announcementTime">
                                                        @info.DateTime.ToString("hh:mm tt")
                                                        @if (info.DateTimeOffset != default) info.DateTimeOffset.ToString("-hh:mm tt");
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </center>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>