@inject SiteManager manager;
<section id="services" class="services section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Services</h2>
        </div>
        <div class="row">
            @{
                foreach (var service in manager.GetInfo.Services)
                {
                    <div class="col-6" onclick="OpenService('@service.Link');">
                        <div class="icon-box">
                            <i><img src=@await manager.GetUtils.GetImageFromDriveAsync(service.Icon, "Misc") alt="icon" width="72" height="72"></i>
                            <h4><a href="#">@service.Name</a></h4>
                            <p style="text-align: center;">@service.Description</p>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>