@inject SiteManager manager;
<section id="team" class="team">
    <div class="container">

        <div class="section-title">
            <h2>Team</h2>
            <p></p>
        </div>

        <div class="row">

            @{
                foreach (var member in manager.GetInfo.TeamMembers)
                {
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                        <div class="member">
                            <div class="member-img">
                                <img src="@await manager.GetUtils.GetImageFromDriveAsync(member.Image)" class="img-fluid" alt="">
                                <div class="social">
                                    @if (!string.IsNullOrEmpty(member.X))
                                    {
                                        <a href=@member.X><i class="bi bi-twitter"></i></a>
                                    }
                                    @if (!string.IsNullOrEmpty(member.Facebook))
                                    {
                                        <a href=@member.Facebook><i class="bi bi-facebook"></i></a>                                        
                                    }
                                    @if (!string.IsNullOrEmpty(member.Instagram))
                                    {
                                        <a href=@member.Instagram><i class="bi bi-instagram"></i></a>
                                    }
                                    @if (!string.IsNullOrEmpty(member.Linkedin))
                                    {
                                        <a href=@member.Linkedin><i class="bi bi-linkedin"></i></a>
                                    }
                                    @if (!string.IsNullOrEmpty(member.Youtube))
                                    {
                                        <a href=@member.Youtube><i class="bi bi-linkedin"></i></a>
                                    }
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>@member.Name</h4>
                                <span>@member.Role</span>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>