@inject Utils Utils;
<section id="youtube-feed" class="cta">
    <div class="section-title">
        <h2 style="color:white">Our Youtube Feed!</h2>
        <p>We are not live, but you can check out our recent videos</p>
    </div>
    <div class="container">
        <div class="text-center">
            <section id="hero" style="height: 500px; margin-top: 10px">
                <div class="hero-container">
                    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

                        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

                        <div class="carousel-inner" role="listbox">
                            @await Utils.GetPreviousLiveStreamsAsync(SiteInfo.YoutubeChannelID);
                            @*  @{
                            foreach (var info in @SiteInfo.News)
                            {
                            <div class="carousel-item active" style="background-image: #0000;">
                            <div class="carousel-container">
                            <div class="carousel-content">
                            <h2 id="main_title_1" class="animate__animated animate__fadeInDown">@info.Headline</h2>
                            <p class="animate__animated animate__fadeInUp">@info.Description</p>
                            </div>
                            </div>
                            </div>
                            }
                            } *@
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
</section>