<nav class="navbar navbar-expand-lg navbar-dark fixed-top border-bottom border-1">
    <div class="container-fluid">
        <NavLink class="navbar-brand" href="/" Match="NavLinkMatch.All">SiteName</NavLink>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#mainNavbar"
                aria-controls="mainNavbar" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <!-- centered links -->
            <div class="navbar-nav mx-auto">
                <NavLink class="nav-link" href="/features1">Features1</NavLink>
                <NavLink class="nav-link" href="/features2">Features2</NavLink>
                <NavLink class="nav-link" href="/features3">Features3</NavLink>
                <NavLink style="font-weight:bold; color:#2060FF" class="nav-link" href="https://adventistgiving.org/donate/AN4FDQ" target="_blank">Giving <i class="bi bi-box-arrow-up-right"></i></NavLink>
            </div>

           <!-- Right side content -->
            <div class="navbar-nav d-flex">
                <NavLink class="nav-link" href="/Admin"><i class="bi bi-person-circle"></i> Admin Portal</NavLink>
            </div>
        </div>
    </div>
</nav>