@inject BethanyApiClient Api

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center gap-2" href="/">
            <img src="/docs/5.3/assets/brand/bootstrap-logo.svg"
                 alt="Logo" width="30" height="24"
                 class="d-inline-block align-text-top" />

            @if (_loading)
            {
                <span>Loading…</span>
            }
            else if (!string.IsNullOrEmpty(_error))
            {
                <span class="text-danger">Error</span>
            }
            else
            {
                <span>@(_basic?.Title ?? "Untitled")</span>
            }
        </a>
    </div>
</nav>

@if (!string.IsNullOrEmpty(_error))
{
    <div class="alert alert-danger m-3">
        @_error
    </div>
}

@code {
    private BasicInfoObject? _basic;
    private ThumbnailObject _thumbnail;

    private bool _loading = true;
    private string? _error;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _basic = await Api.GetBasicInfoAsync();
            if (_basic is null)
            {
                _error = "No site info returned.";
            }
            _thumbnail = await Api.GetThumbnailfoAsync();

        }
        catch (Exception ex)
        {
            _error = ex.Message;
        }
        finally
        {
            _loading = false;
        }
    }
}
